body {
    color: #fff;
    background: url(images/wolf-647528_1280.jpg) center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    text-align: center;
    font-size: 4vw;
    margin: auto;
}

#lap {
    text-align: right;
    font-size: 3vw;
    margin-right: 10%;
}

#time {
    text-align: center;
    font-size: 6vw;
    margin: auto;
}

#controlsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 179, 0);
    height: 8vw;
    width: 8vw;
    text-align: center;
    border-radius: 100%;
    font-size: 2.2vw;
    cursor: pointer;
}

/* @media (min-width: 480px) {
    .control {
        
    }
} */

.control:active {
    background-color: #fff;
    color: rgb(255, 179, 0);
}

#laps {
    max-height: 270px;
    overflow-y: scroll;
}

.lap {
    height: 50px;
    border-bottom: 1px solid white;
    margin: 15px;
}

.laptimetitle {
    font-size: 1.5em;
    float: left;
}

.laptime {
    font-size: 2em;
    float: right;
}